@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Lato', sans-serif;
}

.bodyfundo {
    background-image: url(../img/background.png);
    background-size: cover;
    color: white;
    padding-top: 15%;
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: center;
}

.redondo {
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: gray;
    margin: auto;
    margin-top: 170px;
    -webkit-box-shadow: 6px 16px 36px -17px rgba(69, 69, 69, 1);
    -moz-box-shadow: 6px 16px 36px -17px rgba(69, 69, 69, 1);
    box-shadow: 6px 16px 36px -17px rgba(69, 69, 69, 1);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fd7200;
    width: 100%;
    height: 810px;
}

/* Ícone da loja 'i' */

.fa-store-alt {
    font-size: 70px;
    margin-bottom: 40px;
    color: deeppink;
}

.redondo h3 {
    margin-top: 120px;
}

.fa-money-check {
    margin: auto;
    color: gray;
    font-size: 70px;
    margin-top: 40px;
}

.t2 h4 {
    color: white;
    font-size: 25px;
    margin-right: 20px;
    line-height: 1.0em;
}

.redondo2 {
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: gray;
    margin: auto;
    margin-top: 230px;
    background: linear-gradient(to top, #fd7200 0%, #ff9100 50%, #ffffff 50%, #ffffff 100%);
    -webkit-box-shadow: 6px 16px 36px -17px rgba(69, 69, 69, 1);
    -moz-box-shadow: 6px 16px 36px -17px rgba(69, 69, 69, 1);
    box-shadow: 6px 16px 36px -17px rgba(69, 69, 69, 1);
    transform: rotate(-10deg);
}

.t1 {
    text-align: center;
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.t1 .fa-shopping-bag {
    font-size: 70px;
    color: orange;
}

.t1 h4 {
    margin-left: 20px;
    font-size: 25px;
    line-height: 1.0em;
    color: orange;
}

.t2 {
    text-align: center;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.fa-store {
    font-size: 70px;
    color: white;
}

.bodynormal {
    background-color: white;
    width: 100%;
    height: 100%;
}

form label {
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    width: 100%;
    margin-top: 67px;
}

.formu {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

input {
    height: 40px;
    width: 100%;
    border: none;
    text-decoration: none;
    text-transform: none;
    border-radius: 15px;
    margin-right: 4px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    text-align: center;
    background-color: rgb(216, 211, 211);
}

form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cad {
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

form .button {
    background-color: rgb(235, 98, 0);
    color: white;
    width: 100%;
    height: 6vh;
    border-radius: 15px;
}

form i {
    font-size: 20px;
    color: #fd7200;
    position: absolute;
}

.fotor {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid white;
}

label i {
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
    padding-right: 150px;
    font-size: 15px;
    color: gray;
}

.fotor i {
    color:white;
}

.redes {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

a p{
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

footer {
    background-color: #ff7300d3;
    width: 100%;
}

nav {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    flex-direction: column;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

li i {
    font-size: 25px;
    margin-bottom: 6px;
}

main p {
    padding-top: 80px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

a:hover {
    color: black;
}

.card {
    position: relative;
    display: flex;
    width: 80%;
    height: 70px;
    color: gray;
    background-color: white;
    padding-bottom: 37px;
    padding-top: 20px;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto; 
    -webkit-box-shadow: 9px 13px 300px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 9px 13px 300px 0px rgba(176, 176, 176, 1);
    box-shadow: 9px 13px 300px 0px rgba(176, 176, 176, 1);
}

img {
    width: 50px;
    height: 80px;
}

.cardinfos {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10px;
}

.card img {
    width: 50px;
    height: 50px;
}

.card p {
    font-size: 10px;
    margin-top: 5px;
}

.cardview1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
}

.cardview2 {
    margin-left: 10px;
    height: 10px;
}

.textinfos {
    display: flex;
}

.cardview2 a {
    color: gray;
    font-size: 12px;
    text-align: right;
}

.editar {
    display: flex;
    justify-content: flex-end;
    padding-top: 1px;
}

.containeer input {
    background-color: rgba(211, 211, 211, 0.699);
    border-radius: 39%;
    color: white;
    margin-left: 10px;
}

.containeer .button {
    background-color: #fd7200;
    border-radius: 8%;
    width: 100px;
    height: 20px;
    padding: 10px 24px;
    border: 1px solid #a12727;
    border-radius: 16px;
    background: #ff654a;
    text-shadow: #591717 0px 1px 1px;
    color: #ffffff;
    text-decoration: none; 
}

.button:hover {
    color: #ffffff;
    background-color: orange;
    cursor: pointer;
}

.button:active {
    transform: translateY(4px);
    box-shadow: 0 1px rgb(235, 47, 0);
}

.containeer label {
    height: 50px;
    display: flex;
}

.c {
    margin-top: 15px;
    display: flex;
    color: rgb(114, 113, 113);
    margin-bottom: 1px;
}

.c label {
    margin-top: 1px;
    color: rgb(114, 113, 113);
}

.c input {
    width: 80px;
    margin-left: 40px;
    height: 20px;
    font-size: 10px;
}

.containeer form {
    width: 100%;
}

.card1 {
    padding-top: 0px;
}

.infostop {
    margin-bottom: 1px;
    height: 9px;
}

.ppromocao {
    background-color: orange;
    border-radius: 4px;
    padding: 0px;
}

.fundonada {
    height: 526px;
}

.ceu {
    margin-top: 1px;
}

.menulat {
    width: 50%;
    height: 2000px;
    background-color: black;
    position: fixed;    
}